*{
  margin: 0;
  padding: 0;
  border: 0;
}


header{
  text-align: center;
  background-image: url("shopfront.jpg");
  background-position: center;
  background-size: cover;
  padding: 15% 0;
  max-height: 300px;
}

h1{
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 3.5rem;
  background-color: rgb(248,197,208,.8);
  padding:  1%;
}

h2{
  font-family: 'Bitter', serif;
  padding: 5% 2%;
  font-size: 2rem;
  background-color: #ABE3E5;
  color: white;
}

p{
  margin: 5%;
  font-family: 'Roboto', sans-serif;
  font-size: .89rem;
  line-height: 2em;
  color: darkgrey;
}

span {
  font-size: 2rem;
  color: #F8C5D0;

}

section{
  width: 100%;
  text-align: center;
}

aside{
  width: 100%;
}

img{
  width: 100%;
}

aside{
  text-align: center;
}

#hover-effect{
  position: relative;
}

#text-hide{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(248,197,208,.8);
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  z-index: 11111;
  font-family: 'Lobster', cursive;
  color: white;
  font-size: 3.5rem;
}
